.contain{
    margin-bottom: 50px;
    h2{
        letter-spacing: normal;
        color: #2a2a2a;
        font-size: 35px;
        font-weight: 600;
        padding:0 0;
        margin-bottom: 10px;
    }
}