.footer{
    text-align: center;        
    border-top: 1px solid #312f30;
    padding-top: 20px;
    @media (max-width:$mobile) {
        border-top: none;
        margin-top: -20px;
        padding: 0 0;
        h1{
            font-size: 25px;
        }
    }
}