.main{
    width: 80%;
    margin: auto;                

    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr); // define dos columnas de tamaño igual
        grid-template-areas: "content-left content-right";
        gap: 16px;

        @media (max-width: 767px) {
            grid-template-columns: repeat(1,1fr); // cambia a una sola columna en dispositivos pequeños
            grid-template-areas: "content-left"
                                "content-right";
            
          }
        
    }
}