*{
    padding: 0;
    margin: 0;
    //border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

img{
    width: 100%;
}

.app{
    width: 100%;
    background: linear-gradient(90deg, rgba(248,221,206,1) 0%, rgba(249,244,237,1) 53%, rgba(252,224,218,1) 100%);
}