:root {
    --color-background: #ffffff;
    --color-background-invert: #312F30;
    --color-texto: #000000;
    --color-texto-invert: #E4EBF1;
    --color-white-empresa: #312F30;
    --color-input-background: #000;
    --color-input-background-invert: #fcfcfc;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.dark-theme-variables {
    --color-background: #312F30;
    --color-background-invert: #f8f8f8;
    --color-texto: #E4EBF1;
    --color-texto-invert: #000000;
    --color-white-empresa: #FFEDE1;
    --color-input-background: #fcfcfc;
}
html,
body,
button,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
small,
strong,
b,
u,
i,
ol,
ul,
li,
form,
label,
article,
aside,
figure,
figcaption,
footer,
menu,
nav,
section,
summary,
time,
video {
 margin: 0;
 padding: 0;
 border: 0;
 vertical-align: baseline;
 color: var(--color-texto);
}
 
article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
 display: block;
}
 
body {
 line-height: 1;
 box-sizing: border-box;
 font-family: 'Raleway', sans-serif
}

html {
    font-size: 13px;
}

#root,
html,
body {
	line-height: 1.5;
	background-color: #f8f3eb;
	color: #484847;
    
}

a,
button,
[type="button"],
[type="submit"],
[role="button"] {
 cursor: pointer;
}
 
a {
 text-decoration: none;
 padding: 0 0;
 margin: 0 0;
}
 
a:hover {
 text-decoration: underline;
}
 
button {
 font-family: inherit;
 border-style: none;
 background-color: transparent;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: normal;
}
img{
    width: 100%;
}
footer {
    color: #323131;
    padding: 30px;
    h2{
        padding: 10px 0;
    }
    p{
        padding: 5px 0;
        line-height: 1;
    }
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


img{
    width: 100%;
}

.app{
    width: 100%;
}
.nav-active{
    color: rgb(207, 57, 57);
}

h1{
    letter-spacing: normal;
    // color: $color-emp-cua;
    font-size: 35px;
    font-weight: 600;
    padding:0 0;
    margin-bottom: 10px;
}

h2{
    padding: 10px 0;
    letter-spacing: normal;
}

@import "./variables/";
@import "./base/";
@import "./global-components/";
@import "./page/";
@import "./components/";
@import './layout/';