.article{
    padding-left: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); // define dos columnas de tamaño igual
    grid-template-areas: "columna1 columna2";
    gap: 16px;
    border-left: 1px solid $color-emp-ter;

    &__content{
        grid-area: columna1;
    }

    &__image{
        grid-area: columna2;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    

    @media (max-width: $mobile) {
        grid-template-columns: repeat(1,1fr); // cambia a una sola columna en dispositivos pequeños
        grid-template-areas: "columna2"
                            "columna1";        
        border-bottom: 1px solid $color-emp-ter;
        border-left:none ;
        padding-left: 0;
        
        h1{
            margin-top: -10px;
            margin-bottom: 10px;
        }
        p{
            display: none;
        }       
    }
}