.note-news{
    width: 90%;
    margin: auto;
    h2{
        font-size: 25px;
    }    
    @media (max-width:$desktop) {
        margin-top:-40px;
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 30px;
        }
    }
    @media (max-width:$mobile) {
        margin-top:-40px;
        h1{
            font-size: 20px;
        }
        h2{
            display: none;
        }
    }
    &__publish{
        background-color: $color-emp-ter;
        display: inline-block;
        padding: 0px 15px;
        border-radius: 15px;
        margin: 10px 0px;
        p{
            color:$color-emp-sec;
            font-size: 20px;
        }
        @media (max-width:$mobile) {            
            p{
                font-size: 15px;
            }
        }
    }
    &__content{        
        font-size: 30px;
        @media (max-width:$mobile) {            
            p{
                font-size: 15px;
            }
        }
    }
}