.h-view-full {
    height: 100vh;
}
.flex {
    display: flex;
}
.j-center {
    justify-content: center;
}
.a-center {
    align-items: center;
}
.f-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.o-hidden {
    overflow: hidden;
}
.hidden {
    display: none;
}

.p-10 {
    padding: 10px;
}

.m-10 {
    margin: 10px;
}